<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>个人博客</title>
     <!--引入bootstrap样式文件 -->
     <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
 </head>
 <body>
<div class="header">

    <div class="row">
    <ul class="nav">
    <div class="col-md-2">
        <li><a href="/all">Home</a></li>
    </div>
    <div class="col-md-2" >
        <li><a href="/work">work</a></li>
    </div>
    <div class="col-md-2"><li>
        <a href="/about">about</a></li>
    </div>
    <div class="col-md-2">
        <li><a href="/skill">skill</a></li>
    </div>
    <div class="col-md-2">
        <li><a href="/connect">connet</a></li>
    </div>
    </ul>
    </div>
    </div>
 </body>

 