<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
	<title>关于我</title>
	<style type="text/css">
    #main
    {
      width:960px;
      margin:0 auto;
      padding:10px;
      text-align:left;
  }
  h2,h3{font-family:Microsoft YaHei;color: #121212;}
  h1{font-size:40px;line-height:60px;font-weight:100;margin:20px 0 15px;color: #121212;}
  h2{font-size:20px;line-height:25px;font-weight:100;margin:10px 0;color: #121212;}
  h3{font-weight:bold;color: #121212;}
  p{margin-bottom:10px;color: #121212;}
  hr, .hr{margin:20px 0;border:0;width:100%;height:1px;overflow:hidden;background-color:#ccc}
	</style>
</head>
<body background="./images/background.webp">
 
	<!-- Introduction -->
    <div id="main">
        <nav>
            <div class="row">
               <div class="col col_16">
                   <ul>
                   <a href="/all"><li>Home</li></a>
                   <a href="/about"><li>About Me</li></a>
                   <a href="/connect"><li>Contact Me </li></a>
                   <a href="/work"><li>Projects page</li></a>
                   </ul>
           </div class ="pythen">
    	<div class="content">
        	<h1>About Me </h1>
          <div class="hr"></div>
          <h2>Hello Sir, I'm Zen Lin, a sophomore at OUT, hobby is running and playing video games, I hope you like my Assignment.</h2>
          <!-- Video -->
        	<video width="100%"  controls="controls" autoplay="autoplay">
          		<source src="./images/1.MP4" type="video/ogg" />
                <object data="1.MP4" width="100%">
               </object>
           </video>
 		  </div>
    <div class="hr"></div>
        <p>Copyright © 2022 Mr.Lin . All Rights Reserved</p>
        <p>Connect:zhenyang.lin@ontariotechu.net</p>
    </div>

</body>
</html>