
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/style.css" rel="stylesheet">
  <title>首页</title>
</head>
<body>
 
            
          
  <div class="container">
   
    
    <div class="bg-all">
                <img id="bg" src="./images/background.webp" >
    </div>
    <!-- navigation bar -->
   <nav>
                <ul>
                    <a href="/all"><li>Home</li></a>
                    <a href="/about"><li>About Me</li></a>
                    <a href="/connect"><li>Contact Me </li></a>
                    <a href="/work"><li>Projects page</li></a>
                </ul>
    </nav>
    <!-- Card -->
    <div class="card">
      <div class="contentBx">
        <h2>Profile</h2>
        
        <p>Here will be my profile!</p>
        <a href="/about"><span>Read More</span></a>
      </div>
    </div>
    <div class="card">
      
      <div class="contentBx">
        <h2>Contact Me</h2>
        <p>Yea! Contact me here！</p>
        <a href="/connect"><span>Read More</span></a>
      </div>
    </div>
    <div class="card">
      
      <div class="contentBx">
        <h2>Projects</h2>
        <p>Here is my project!</p>
        <a href="/work"><span>Read More</span></a>
      </div>

    </div>
  </div>
</body>
</html>