<!DOCTYPE html>
<html lang="en">
<head>

<title>MyTown RetroRag</title>
<link rel="stylesheet" href="./css/reset.css" type="text/css"  />
<link rel="stylesheet" href="./css/general.css" type="text/css" />
<style>
        .head{
				border-bottom: 2px solid red;
				width: 100%;
				height: 200px;
				line-height: 200px;
				background-color: white;
				text-align: center;
				position: fixed;
				top: 0;
			}
        .d1{
				height: 150px;
				background-color: #6C6C6C;
				margin-top: 202px;
			}
	#icol{
		color: #fff;
	}
  
</style>
<body>

<div>
<div class="outerwrapper">
<header>
<div class="row">
	<div class="col col_16">
    <h1>My first programming project</h1>
     <h2>A fun little programming lab.
</h2>
    </div>
</div>
<div class="clear"></div>
</header>

<div class="row subhead">
	<div class="col col_8"><p>Contact me <br>zhenyang.lin@ontariotechu.net</p>
	</div>
	<div class="col col_8"><form name="dummyrun" action="#" target="_self">
    <label>Search</label>
    <input name="terms" size="20" maxlength="20">
    </form></div>

</div>


<nav>
 <div class="row">
	<div class="col col_16">
        <ul>
        <a href="/all"><li>Home</li></a>
        <a href="/about"><li>About Me</li></a>
        <a href="/connect"><li>Contact Me </li></a>
        <a href="/work"><li>Projects page</li></a>
        </ul>
</div class ="pythen">

    <img src="./images/p.jpg" class = "lab" alt="" title="99 multiplication table"><br>
    
<h3>    This is the first python project I've written, and it's simple, but it really makes programming fun for me. Just a few lines of code generate a 99 multiplication table!
</h3>    
    <img src="./images/p1.jpg" alt="" title="RUN!">
   
</div>

<div class="clear"></div>

<div class="row">
    <div class="inner_wrapper">


        <div class="col_4 col">
            <img src="images/4.jpg" width="200" height="134" alt="old photo">
        </div>
        <div class="col_4 col">
            <img src="images/3.jpg" width="200" height="134" alt="old photo">
        </div>
        <div class="col_4 col">
            <img src="images/2.jpg" width="200" height="134" alt="old photo">
        </div>
        <div class="col_4 col">
            <img src="images/1.jpg" width="200" height="134" alt="old photo">
        </div>
    </div>
</div>

<div class="clear"></div>
<footer>
 <div class="row">
	<div class="col col_16"><p>&copy; 2022 Zhenyang.Lin<br>zhenyang.lin@ontariotechu.net</p>
</div>
</div>
</footer>

 </div>
</div>
</body>
</html>
